# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/
backend/.venv/

# Node
node_modules/

# Env files
.env
frontend/.env
backend/.env

# Models
*.pt
*.pth

# VS Code
.vscode/
backend/credentials.json