.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("public/images/img4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 10px 20px;
  color: rgb(64, 33, 121);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.search-box {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.home {
  text-align: center;
  margin-top: 40px;
}

.button-grid {
  display: grid;
  gap: 5px;
  max-width: 1000px;
  margin: 30px auto;
}


